@font-face {
  font-family: "Metrica";
  src: url("./fonts/Metrica-Regular.eot");
  src: url("./fonts/Metrica-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Metrica-Regular.woff") format("woff"), url("./fonts/Metrica-Regular.ttf") format("truetype"), url("./fonts/Metrica-Regular.svg#Metrica") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Kano';
  src: url("./fonts/Kano-regular.eot");
  src: url("./fonts/Kano-regular.eot?#iefix") format('embedded-opentype'), url("./fonts/Kano-regular.woff") format('woff'), url("./fonts/Kano-regular.ttf") format('truetype'), url("./fonts/Kano-regular.svg#Kano") format('svg');
  font-weight: normal;
  font-style: normal;
}
